﻿<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <a href="~/image/header.png">
                    <img src="@Url.Content("~/image/header.png")" alt="Logo" class="img-responsive">
                </a>
            </div>
        </div>
    </div>
</header>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="=navbar-header">
            <h5 align="center">To jest pasek menu</h5>
        </div>
    </div>
</nav>