﻿<!DOCTYPE html>
<html lang="pl_PL">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
   
    @Styles.Render("~/Content/css_my")
    @Scripts.Render("~/bundles/bootstrap_my")
</head>
<body>
     @{ Html.RenderPartial("NavigationBar"); }
    <div class="container-fluid">


      
        <div class="row">
            <div class="col-md-offset-2 col-md-8 col col-md-offset-2">
                @RenderBody()
            </div>

        </div>
        <div class="row">
            <div class="col-md-12"
                <div class="alert alert-danger">
                    <p class="lead">To już jest koniec strony</p>
                </div>
            </div>

        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap_my")
    @RenderSection("scripts", required: false)
</body>
</html>